.bannerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: #f7f7f7;
}

.bannerContainer::-webkit-scrollbar {
  display: none;
}

.bannerItem {
  flex: 1;
  max-height: 20rem;
  border-radius: 10px;
  background-color: #fcfcfc;
  overflow: hidden;
  cursor: pointer;
}

.bannerItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
