.input {
  background-color: var(--light-gray);
  min-width: 100px;
  width: 90%;
  border: none;
  height: 40px;
  padding: 5px 8px;
  transition: all 1s;
  outline: 1px var(--light-gray) solid;
}

.input:focus {
  outline: 1px var(--light-gray) solid;
  background-color: white;
}

.input::placeholder {
  color: var(--darker-gray);
  font-family: 'dana-semibold';
  font-size: 1rem;
}

@media (min-width: 300px) and (max-width: 560px) {
  .input::placeholder{
    font-size: 0.5rem;
  }
}

@media (min-width: 560px) and (max-width: 780px) {
}

@media (min-width: 780px) and (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}
