.input {
  background-color: var(--light-gray);
  width: 90%;
  border: none;
  height: 40px;
  padding: 5px 8px;
  transition: all 1s;
  outline: 1px var(--light-gray) solid;
}

.input:focus {
  outline: 1px var(--light-gray) solid;
  background-color: white;
}

.input::placeholder {
  color: var(--darker-gray);
  font-family: 'dana-semibold';
  font-size: 1rem;
}
