.footer {
  background-image: url(/src/assets/images/footer-top.png);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: white;
}

.topFooter {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  padding: 80px 10px;
  margin: 0 auto;
}

.topFooter > div {
  width: 90%;
  background-color: #f9f9f9;
  padding: 50px;
  border: 1px solid var(--dark-gray);
}

.topFooter > div span{
    font-size: 0.8rem;
    color: var(--dark-gray);
}
