:root {
  --primary-color: #0089ff;
  --bg-blue: #e8f3fe;
  --light-gray: #f6f6f6;
  --dark-gray: #BDBDBD;
  --darker-gray: #2E343B;
  --bg-green: #e4ffeb;
  --tx-green: #4bc26e;
  --bg-red: #ffeaeb;
  --tx-red: #da1e27;
}
