.cardList {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin: 20px 0;
}

.upperCardList {
  display: flex;
  padding: 10px 20px;
  background-color: #f9f9f9;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.upperCardList p {
  font-size: 1.5rem;
  font-weight: bold;
}

.allCards {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 10px;
  flex: 1;
}

.allCards::-webkit-scrollbar {
  display: none;
}

.allCards > * {
  flex: 0 0 auto;
}

.allCards::-webkit-scrollbar {
  height: 6px;
}

.allCards::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.scrollContainer {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.rightButton,
.leftButton {
  background-color: white;
  border: none;
  width: 40px;
  height: 60px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  box-shadow: 0px 1px 20px -8px #000000;
  z-index: 100;
}

.rightButton {
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
}

.leftButton {
  left: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
}

.rightButton:hover,
.leftButton:hover {
  background-color: var(--primary);
  color: white !important;
}

@media (min-width: 300px) and (max-width: 560px) {
  .rightButton,
  .leftButton {
    display: none;
  }
  .upperCardList p,
  .upperCardListButton {
    font-size: 0.8rem !important;
  }
}

@media (min-width: 560px) and (max-width: 780px) {
  .rightButton,
  .leftButton {
    display: none;
  }
}

@media (min-width: 780px) and (max-width: 992px) {
  .rightButton,
  .leftButton {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .rightButton,
  .leftButton {
    width: 38px;
    height: 55px;
    font-size: 1.9rem;
  }

  .rightButton {
    right: 10px;
  }

  .leftButton {
    left: 10px;
  }
}

@media (min-width: 1200px) {
  .rightButton,
  .leftButton {
    width: 40px;
    height: 60px;
    font-size: 2rem;
  }
}
