.cartContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 95%;
  min-height: 60vh;
  margin: 0 auto;
  border-radius: 8px;
}

.cartContainer * {
  font-family: 'dana-fanum-regular';
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.empty {
  text-align: center;
  font-size: 1.1rem;
  color: var(--dark-gray);
}

.cartContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
