.productContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

.cardsContainer {
  width: 75%;
}

.cardsContainer h2 {
  margin-bottom: 20px;
}

.productListTabs {
  display: flex;
  justify-content: space-between;
  color: var(--darkest-gray);
  border-bottom: 1px solid var(--dark-gray);
  margin-bottom: 20px;
  font-family: 'dana-fanum-regular';
  padding-left: 20px;
}

.productListTabs * {
  font-family: 'dana-fanum-regular';
}

.productListTabs ul {
  display: flex;
  gap: 30px;
}

.productListTabs div {
  display: flex;
  gap: 30px;
  align-items: center;
}

.selectedTab {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  cursor: pointer;
}

.productListTabs ul li {
  display: inline-block;
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 0.9rem;
}

/* FILTERING */
.filteringContainer {
  width: 25%;
  background-color: white;
  margin: 0 20px;
  border-radius: 5px;
  max-height: fit-content;
  padding: 10px 0 0;
  font-size: 1.2rem;
  border: 1px solid var(--dark-gray);
}

.filteringContainer p {
  font-size: 1rem;
  font-weight: bold;
}

.filteringContainer h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.smallSearch,
.brandSearch {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  padding: 6px 10px;
  border: 1px solid var(--dark-gray);
}

.smallSearch:focus,
.brandSearch:focus {
  box-shadow: 1px 1px 10px 8px var(--bg-blue);
  outline: none;
}

.filteringContainer ul {
  margin-top: 10px;
  border-bottom: 1px solid var(--dark-gray);
  padding: 0 20px;
}

.filteringContainer ul li {
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  border-radius: 10px;
}

.filteringContainer ul li:not(.selected):hover {
  background-color: var(--light-gray);
}

.selected {
  background-color: var(--primary);
  color: white;
}

.smallSearchSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
  padding: 10px;
  border-bottom: 1px solid var(--dark-gray);
}

.brandSection {
  border-bottom: 1px solid var(--dark-gray);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.brandList {
  max-height: 250px;
  overflow-y: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px 10px;
}

.brandList::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.brandList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.brandItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
}

.brandItem:hover {
  background-color: var(--light-gray);
}

.brandItem > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.brandItem span {
  color: var(--darker-gray);
}

.brandTitle {
  color: var(--darkest-gray) !important;
}

.rangeSection {
  max-width: 100%;
  direction: rtl;
  text-align: right;
  padding: 15px 10px;
  border-bottom: 1px solid var(--dark-gray);
}

.specialButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

/* PRODUCT DETAILS */
.detailsContainer {
  width: 100%;
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin: 20px auto;
  direction: ltr;
  border: 1px solid var(--dark-gray);
  flex-wrap: wrap;
}

.detailsImage {
  width: 15%;
  height: 100%;
  position: relative;
  padding: 15px;
}

.detailsImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.detailsRightSide {
  width: 85%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--dark-gray);
}

.mainDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.detailsText {
  width: 70%;
}

.intro {
  width: 100%;
  border-bottom: 1px solid var(--dark-gray);
}

.intro p {
  color: var(--darker-gray);
  font-size: 0.9rem;
}

.detailsRatings {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 0;
  flex-wrap: wrap;
}

.detailsRate {
  display: flex;
  gap: 5px;
  align-items: center;
}

.detailsRatings p {
  color: var(--darker-gray);
  font-size: 0.9rem;
}

.detailsRatings span {
  color: var(--primary);
}

.description {
  margin-top: 15px;
}

.description span {
  font-size: 1.5rem;
  font-weight: bold;
}

.snappPay {
  display: flex;
  padding: 10px;
  background-color: var(--bg-blue);
  width: fit-content;
  gap: 15px;
  border-radius: 5px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.snappPay span {
  color: var(--primary);
  font-size: 0.9rem;
}

.buyOptions {
  width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 35px -10px rgba(0, 0, 0, 0.52);
  padding: 20px;
}

.colorDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary);
}

.selectedColor {
  padding: 3px;
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.optGuaranty {
  padding: 10px 0;
  border-bottom: 1px dashed var(--darker-gray);
  border-top: 1px dashed var(--darker-gray);
  margin: 20px 0;
}

.optGuaranty div {
  display: flex;
  font-size: 0.9rem;
}

.buyOptions > p {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--primary);
  justify-content: center;
  font-size: 1.5rem;
}

.detailActions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.detailsBottom {
  display: flex;
  border-top: 1px solid var(--dark-gray);
  padding: 20px 50px;
  gap: 50px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.detailsBottom > div {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detailsBottom img {
  width: 30px;
}

@media (max-width: 560px) {
  .productContainer {
    flex-direction: column;
    margin: 15px 0;
  }

  .cardsContainer {
    width: 100%;
  }

  .filteringContainer {
    width: 100%;
    margin: 0 0 15px 0;
    font-size: 0.9rem;
    padding: 8px 0 0;
  }

  .filteringContainer ul li {
    padding: 6px;
    margin: 6px 0;
    font-size: 0.75rem;
  }

  .brandItem {
    font-size: 0.75rem;
    padding: 4px;
  }

  .smallSearch,
  .brandSearch {
    font-size: 0.8rem;
    padding: 4px 8px;
  }

  .specialButtons {
    gap: 5px;
  }

  .productListTabs {
    flex-direction: column;
    gap: 15px;
  }

  .productListTabs ul,
  .productListTabs div {
    font-size: 0.8rem !important;
    width: auto;
    align-items: flex-start;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  .productListTabs ul li,.productListTabs div ul li{
    font-size: 0.7rem;
  }

  .detailsContainer {
    flex-direction: column;
  }

  .detailsImage {
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  .detailsImage img {
    width: 200px;
  }

  .detailsRightSide {
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--dark-gray);
  }

  .mainDetails {
    flex-direction: column;
    gap: 8px;
  }

  .detailsText {
    width: 100%;
    font-size: 0.9rem;
  }

  .description span {
    font-size: 1.2rem;
  }

  .buyOptions {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  .buyOptions > p {
    font-size: 1.2rem;
  }

  .detailsBottom {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .detailsBottom div {
    font-size: 0.8rem;
  }

  .snappPay {
    gap: 10px;
    padding: 8px;
  }

  .snappPay span {
    font-size: 0.8rem;
  }
}

@media (min-width: 561px) and (max-width: 780px) {
  .productContainer {
    flex-direction: column;
  }
  .productListTabs {
    flex-direction: column;
    gap: 25px;
  }
  .cardsContainer {
    width: 100%;
  }

  .filteringContainer {
    width: 100%;
    margin: 0 0 15px 0;
    font-size: 1rem;
  }

  .filteringContainer ul li {
    padding: 8px;
    margin: 8px 0;
    font-size: 0.8rem;
  }

  .brandItem {
    font-size: 0.8rem;
    padding: 5px;
  }

  .smallSearch,
  .brandSearch {
    font-size: 0.85rem;
    padding: 5px 10px;
  }

  .specialButtons {
    gap: 8px;
  }

  .detailsContainer {
    flex-direction: column;
  }

  .detailsImage {
    width: 100%;
  }

  .detailsRightSide {
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--dark-gray);
  }

  .mainDetails {
    flex-direction: column;
  }

  .buyOptions {
    width: 100%;
  }

  .detailsBottom {
    flex-direction: column;
    gap: 12px;
    padding: 18px;
  }
}

@media (min-width: 781px) and (max-width: 992px) {
  .productContainer {
    flex-direction: row;
    gap: 10px;
  }

  .productListTabs {
    flex-direction: column;
    gap: 25px;
  }

  .cardsContainer {
    width: 70%;
  }

  .filteringContainer {
    width: 28%;
  }

  .filteringContainer ul li {
    padding: 9px;
    margin: 8px 0;
    font-size: 0.85rem;
  }

  .brandItem {
    font-size: 0.85rem;
    padding: 6px;
  }

  .smallSearch,
  .brandSearch {
    font-size: 0.9rem;
    padding: 5px 10px;
  }

  .specialButtons {
    gap: 10px;
  }

  .detailsContainer {
    flex-direction: row;
  }

  .detailsImage {
    width: 20%;
  }

  .detailsRightSide {
    width: 80%;
  }

  .buyOptions {
    width: 30%;
  }

  .detailsBottom {
    gap: 50px;
    padding: 20px 30px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .cardsContainer {
    width: 73%;
  }

  .filteringContainer {
    width: 27%;
  }

  .detailsImage {
    width: 18%;
  }

  .detailsRightSide {
    width: 82%;
  }

  .buyOptions {
    width: 28%;
  }
}

@media (min-width: 1201px) {
  .cardsContainer {
    width: 75%;
  }

  .filteringContainer {
    width: 25%;
  }

  .detailsImage {
    width: 15%;
  }

  .detailsRightSide {
    width: 85%;
  }

  .buyOptions {
    width: 25%;
  }
}
