.card {
  flex: 0 0 auto;
  position: relative;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  background-color: white;
}

.fixedWidth{
  width: 230px;
}

.fullWidth{
  width: 100%;
}

.card p {
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card img {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-bottom: 50px;
}

.price {
  position: absolute;
  bottom: 5px;
}
