.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  border: 2px dashed var(--dark-gray);
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 15px;
  justify-content: space-between;
  transition: all 0.5s ease-in;
}

.card:hover{
  background-color: #eeefff;
}

.totalPrice {
  padding-top: 15px;
  margin-left: 20px;
}

.image {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.info {
  flex: 1;
  margin: 0 10px;
  width: 20%;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}