.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  flex: 1 1 300px;
  margin: 10px;
  max-width: 100%;
}

.title {
  font-family: 'dana-bold';
  font-size: 1.1rem;
  margin-bottom: 10px;
  border: none;
}

.imagesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.smallImages {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.imagesContainer img {
  width: 130px;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 560px) {
  .card {
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: auto;
  }

  .title {
    font-size: 0.7rem;
    text-align: right;
    width: fit-content;
    margin-bottom: 8px;
  }

  .imagesContainer {
    display: flex;
    max-width: fit-content;
    flex-direction: row;
  }

  .smallImages {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .smallImages img {
    background-color: white;
    padding: 3px 0;
  }

  .imagesContainer img {
    width: 25vw;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 8px;
  }

  .imagesContainer > img {
    padding: 9px 0;
    background-color: white;
  }
}
