.button {
  padding: 4px 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.2s ease, color 0.2s ease, fill 0.2s ease;
}

.button svg {
  transition: fill 0.2s ease;
  cursor: pointer;
}

.button:hover svg {
  fill: black; /* تغییر رنگ SVG هنگام هاور */
}

.textOnly {
  color: var(--dark-gray);
}

.textOnly:hover {
  color: black;
}

@media (min-width: 300px) and (max-width: 560px) {
  .button svg {
    width: 20px;
  }
}

@media (min-width: 560px) and (max-width: 780px) {
  .button svg {
    width: 30px;
  }
}

@media (min-width: 780px) and (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}
